BACKEND_IMAGE=docker.io/oussama2200/entrix-backend:v1
FRONTEND_IMAGE=docker.io/oussama2200/entrix-frontend:v1
POSTGRES_USER=rfid_admin
POSTGRES_PASSWORD=secure_password_123
POSTGRES_DB=rfid_system
CORS_ORIGIN=http://localhost
